# Config file for automatic testing at travis-ci.org

language: python
python:
    #- "2.7"
    #- "3.2"
    - "3.3"
    - "3.4"
    
# command to install dependencies
install:
    - pip install -r coverage_requirements.txt

# command to run tests
script:
    #- python3 setup.py test -a test
    - coverage run setup.py test

after_success:
    coveralls
